<div class="selection-controls-container">
  <div [ngSwitch]="codeModule">
    <app-html-controls [theme]="theme" *ngSwitchCase="'html'"></app-html-controls>
    <app-typescript-controls [theme]="theme" *ngSwitchCase="'ts'"></app-typescript-controls>
    <app-javascript-controls [theme]="theme" *ngSwitchDefault></app-javascript-controls>
  </div>
</div>

<!--<form name="colorSelectionForm">-->
<!--<div class="color-input" *ngFor="let prop of propertyArray">-->
<!--<label [for]="prop">{{prop}}</label>-->
<!--<input [pattern]="hexPattern" type="text" [name]="prop" [id]="prop" [(ngModel)]="theme[prop]">-->
<!--</div>-->
<!--</form>-->
<!--<button type="button" (click)="setColor('background', 'CCC')">Set Color Scheme</button>-->
<!--<pre>{{theme | json}}</pre>-->
